// Fonts
$font-title: 'Outfit', sans-serif;
$font-content: 'Lato', sans-serif;

// Colors
$color-synctify: #008d71;
$color-teal: #23a197;
$color-celadon-green: #a4cfbd;
$color-gary-green: #3d5a55;
$color-black: #242424;
$color-white: #ffffff;

// Netural (N)
$color-n-100: #FFFFFF;
$color-n-200: #F0F0F0;
$color-n-300: #D2D2D2;
$color-n-400: #B4B4B4;
$color-n-500: #979797;
$color-n-600: #797979;
$color-n-700: #5B5B5C;
$color-n-800: #3E3E3E;
$color-n-900: #111112;