// Variable
@import '_variables';

// --------------------
// Override Card Style
// --------------------
.card {
    border: none;
    border-radius: 0.3rem;
    box-shadow: 0 2px 4px 0 rgba($color-n-900, 0.05);
    margin: 0;
    height: 100%;

    .card-body {
        padding: 1.5rem;
    }
}

.card-wrap {
    display: grid;
    gap: 30px;
}

// ---------------------
// Customized Card Wrap
// ---------------------
@mixin columns($desktop, $tablet, $mobile) {
    grid-template-columns: repeat($desktop, 1fr);
    
    @media (max-width: 991.98px) {
        grid-template-columns: repeat($tablet, 1fr);
    }

    @media (max-width: 575.98px) {
        grid-template-columns: repeat($mobile, 1fr);
    }
}

// --------------------
// Customized Style
// --------------------

// Channel List
.channel-list {
    @include columns(3, 2, 1);
    gap: 24px;

    .channel-card {

        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            .card-top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border: none;
                background-color: $color-n-100;
                margin-bottom: 1.5rem;
        
                .channel-icon {
                    width: 48px;
                    height: 48px;
        
                    img {
                        width: 100%;
                    }
                }
    
                .channel-status {
                    text-align: right;
                }
            }
    
            .card-bottom {
                display: flex;
                flex-direction: column;
    
                .channel-display-name {
                    font-family: $font-title;
                    font-weight: 500;
                    margin-bottom: 0;
                }
    
                .channel-category {
                    font-size: 0.875rem;
                    color: $color-n-500;
                }
            }
        }
    }
}

// Warehouse List
.warehouse-list {
    @include columns(2, 1, 1);

    .warehouse-card {

        .warehouse-title {
            margin-bottom: 0.5rem;

            .warehouse-name,
            .warehouse-id {
                display: inline-block;
            }

            .warehouse-name {
                margin: 0;
            }

            .warehouse-id {
                font-family: $font-title;
                font-size: 1.25rem;
                font-weight: 400;
                line-height: 1.2;
                color: $color-n-700;
                margin-left: 0.25rem;
            }
        }

        .warehouse-info {
            padding: 0;

            .info-item {
                display: flex;
                list-style: none;
                color: $color-n-700;

                & + .info-item {
                    margin-top: 0.25rem;
                }

                .info-icon {
                    width: 1.25rem;
                    color: $color-n-500;
                    margin-right: 0.5rem;
                }
            }
        }

        .warehouse-status {
            margin-top: 1rem;
        }
    }
}

// Allocation List
.allocation-list {
    @include columns(3, 2, 1);

    .allocation-card {
    
        .allocation-type {
            margin-bottom: 0.75rem;

            .type-icon {
                width: 24px;
                color: $color-n-700;
            }
        }

        .allocation-desc {
            color: $color-n-500;
        }
    }
}